html, body {
	height: 100%;
	background-color: white;
	margin:0;
	padding:0;
	font-family: "Arial", Georgia, Sans-Serif;
}

/*button {
	position: fixed;
	z-index: 1;
	margin:0 auto;
	width: 25%;
	top: 50%;
	left: 50%;
}*/

label {
	display: block;
	text-align: center;
}

#what-name {
	text-align: center;
}

#lbl-what-name {
	top: 20%;
}

#lbl-question-number {
	position: fixed;
	
}

#btn-start {
	position: fixed;
	z-index: 1;
	margin:0 auto;
	width: 25%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -125%); 
}

#btn-about {
	position: fixed;
	z-index: 1;
	margin:0 auto;
	width: 25%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, 25%); 
}

.jumbotron {
	position: fixed;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin:0 auto;
	-webkit-transform: translate(-50%, -50%); 
    border-style: solid;
    border-width: 5px;
    border-color: black;
    width: 75%;
    height: 30%;
}

.not-main {
	display: none;
}

#btn-back {
	position: fixed;
	z-index: 1;
	margin:0 auto;
	width: 25%;
	top: 95%;
	left: 50%;
	-webkit-transform: translate(-50%, -125%); 
}

#btn-answer0 {
	
	position: fixed;
	z-index: 1;
	margin:0 auto;
	width: 25%;
	top: 45%;
	left: 20%;
}

#btn-answer1 {

	position: fixed;
	z-index: 1;
	margin:0 auto;
	width: 25%;
	top: 45%;
	left: 60%;
}

#btn-answer2 {
	
	position: fixed;
	z-index: 1;
	margin:0 auto;
	width: 25%;
	top: 70%;
	left: 20%;
}

#btn-answer3 {
	
	position: fixed;
	z-index: 1;
	margin:0 auto;
	width: 25%;
	top: 70%;
	left: 60%;
}

.bg-quad {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 50%;
    z-index: 0;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#bg-quad-1 {
	top: 0px;
	left: 0px;
	background-color: red;
}

#bg-quad-2 {
	top: 0px;
	left: 50%;
	background-color: blue;
}

#bg-quad-3 {
	top: 50%;
	left: 50%;
	background-color: yellow;
}

#bg-quad-4 {
	top: 50%;
	left: 0px;
	background-color: green;
}
